.contact-page-container {
}
.contact-header {
  font-size: 30px;
  color: white;

  font-weight: bold;
}
.send-us-email {
  font-size: 27px;
  // margin-top: 50px;
}

.company-email {
  font-weight: bold;
}
.message-us {
  background-color: white;
  max-width: 600px;

  margin: 0 auto;
  border-radius: 20px;
}
