.contact-page-container {
}
.contact-header {
  font-size: 30px;

  font-weight: bold;
}
.send-us-email {
  font-size: 20px;
  margin-top: 50px;
}

.company-email {
  font-weight: bold;
  margin-top: 30px;
}
.message-us {
  background-color: white;
  max-width: 600px;

  margin: 0 auto;
  border-radius: 20px;
}
