.contact-page-container {
}
.contact-header {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}
.send-us-email {
  font-size: 30px;
  color: white;
}

.company-email {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}
.message-us {
  max-width: 600px;
  padding-bottom: 30px;
  max-width: 310px;

  margin: 0 auto;
  margin-top: 50px;
}

.contact-list {
  margin: 0 auto;
}
@media only screen and (max-width: 340px) {
  .contact-list {
    font-size: 13px;
  }
}
