a {
  color: #F8D101;
  font-weight: bold;
}

.landingSignature{
  text-align: center;
  margin: 0 auto;
  color:white;
 display: flex; 
 flex-direction: column; 
 background-color: #343A40;
padding: 10px;
border: 1;
border-radius: 29px
}
