.backgroundImage {
  background: url("../../assets//background.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote{
  color:white;
  font-size: 25px;
      margin-top: 10vh;

}
.quoteSign{
  color: #007AFF;
  font-size: 25px;
  margin-top: 10vh;
  margin-bottom: 10vh;

}
.companyName{
    color:white;
    font-size: 24px;
    margin-top: 13vh;
}
.frontier{
  color: #007AFF;
}