.ba-pics {
  width: 100vw;
  max-width: 420px;
  height: 400px;
  margin: 0 auto;
}

.ba-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
}
.ba-title {
  color: black;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}
