.navbar a {
  color: black !important;
}

nav:hover {
  color: #008700 !important;
}

.navbar-inner {
  background: transparent;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #ff0000;
}
.logo-home {
  max-width: 110px;
}
