.what-we-do-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;

  padding: 10px;
}
.job-div {
  padding: 5px;
  font-weight: bold;
  margin: 0 auto;
}
.job-container {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
