// .home-logo {
//   background: url("../../assets/logo1.png");
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

.navbar a {
  color: black !important;
}

nav:hover {
  color: #008700 !important;
}

.navbar-inner {
  background: transparent;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #ff0000;
}
